<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.java.mapper.Cst_customerMapper">
<!-- 客户分布分析 -->
<select id="selectCountCustomerDistributionAnalysis" parameterType="string" resultType="int">
SELECT COUNT(1) FROM cst_customer WHERE cust_region=#{cust_region}
</select>
	<!-- 查询客户信息外加模糊查询 -->
	<select id="selectAllCustomer" parameterType="Map" resultType="cst_customer">
		SELECT * FROM cst_customer
		<where>
			<if test="cust_name != null and cust_name != ''">
			cust_name like '%${cust_name}%'
			</if>
			<if test="cust_level_label != null and cust_level_label != ''">
			AND cust_level_label = #{cust_level_label}
			</if>
			<if test="cust_status != null and cust_status != ''">
			AND cust_status = #{cust_status}
			</if>
		</where>
		LIMIT ${(pageNow-1)*pageSize},${pageSize}
	</select>
	<!-- 查询客户信息数量 -->
	<select id="getCount" parameterType="Map" resultType="java.lang.Long">
		SELECT COUNT(1) FROM cst_customer
		<where>
			<if test="cust_name != null and cust_name != ''">
			cust_name like '%${cust_name}%'
			</if>
			<if test="cust_level_label != null and cust_level_label != ''">
				AND cust_level_label = #{cust_level_label}
			</if>
			<if test="cust_status != null and cust_status != ''">
			AND cust_status = #{cust_status}
			</if>
		</where>
	</select>
	<!-- 根据id查询具体用户 -->
	<select id="selectCustomerById" parameterType="java.lang.Long"
		resultType="cst_customer">
		SELECT * FROM cst_customer WHERE cust_no=#{cust_no}
	</select>
	<!-- 删除用户，将用户的状态改为3 -->
	<update id="deleteCustomerById" parameterType="java.lang.Long">
		UPDATE
		cst_customer SET cust_status='删除' WHERE cust_no=#{cust_no}
	</update>
	<!-- 添加客户 -->
	<insert id="addCst" parameterType="cst_customer">
		INSERT INTO cst_customer
		VALUES(NULL,#{cust_name},#{cust_region},#{cust_level},#{cust_level_label},#{cust_satisfy},#{cust_credit},#{cust_addr},#{cust_zip},#{cust_tel},#{cust_fax},#{cust_website},#{cust_licence_no},#{cust_chieftain},#{cust_bankroll},#{cust_turnover},#{cust_bank},#{cust_bank_account},#{cust_local_tax_no},#{cust_national_tax_no},#{cust_status},#{cust_manager_id},#{cust_manager_name})
	</insert>
	<!-- 修改客户 -->
	<update id="updateCst" parameterType="cst_customer">
		UPDATE cst_customer SET cust_name=#{cust_name},cust_region=#{cust_region},cust_level=#{cust_level},cust_level_label=#{cust_level_label},cust_satisfy=#{cust_satisfy},cust_credit=#{cust_credit},cust_addr=#{cust_addr},cust_zip=#{cust_zip},cust_tel=#{cust_tel},cust_fax=#{cust_fax},cust_website=#{cust_website},cust_licence_no=#{cust_licence_no},cust_chieftain=#{cust_chieftain},cust_status=#{cust_status},cust_manager_id=#{cust_manager_id},cust_manager_name=#{cust_manager_name} WHERE cust_no=#{cust_no}
	</update>
	<select id="selectCstByid" resultType="cst_customer">
		select * from cst_customer
		where cust_no=#{cust_no}
	</select>
	<select id="selectCst" resultType="cst_customer">
		select * from cst_customer
	</select>
</mapper>